* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: montserrat;
}

nav {
  background-color: #0082e6;
  background-image: url(omar.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
label.logo {
  color: black;
  font-size: 35px;
  line-height: 80px;

  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: rgb(0, 0, 0);
  text-transform: inherit;
  font-size: 25px;
  padding: 7px 13px;
  border-radius: 15px;
}

a.active,
a:hover {
  background-color: #ffffff;
  transition: 0.5s;
  border-radius: 15px;
}
.overlay img {
  display: block;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  filter: blur(5px);
  -webkit-filter: blur(8px);
}
.overlay {
  position: relative;
}
.overlay h1 {
  position: absolute;
  top: -83px;
  left: 270px;
  font-size: 50px;
  text-decoration: underline;
}
.overlay p {
  position: absolute;
  top: -10px;
  left: 270px;
  color: black;
  font-size: 25px;
}
.image {
  margin-left: 10px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
  float: left;
}
.image img {
  width: 250px;
  object-fit: cover;
  height: 150px;
  border-color: black;
  border-style: inset;
}

.hist h1 {
  position: absolute;
  top: -80px;
  left: 270px;
  font-size: 40px;
  text-decoration: underline;
}
.hist p {
    position: absolute;
    top: -10px;
    left: 270px;
    color: black;
    font-size: 25px;
}
.hist h2 {
    position: absolute;
    top: 300px;
    left: 270px;
    font-size: 25px;
    text-decoration: underline;
}
.l1{
    position: absolute;
    top: 350px;
    left: 330px;
    font-size: 25px;
    text-decoration: none;
    
}
.l2{
    position: absolute;
    top: 390px;
    left: 330px;
    font-size: 25px;
    text-decoration: none;
}

table{
    border-collapse: collapse;
    width: 600px;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    top: -35px;
    left: 640px;
    text-align: center;
}
th {
    background: #0082e6; 
    color: #FFFFFF;
    border: 2px solid #000000;
}
td{
    background: #ffffff;
	color: #161515;
	border: 2px solid #000000;
	text-align: center;
}
tr th:first-child, tr td:first-child {
    text-align: left;
}

td, th {
    margin-left: 4%;
    padding: 1%;  
}
tr td {
    opacity: 0.8;
}
/* Change the opacity of a row when it is hovered over */
tr td:hover {
    opacity: 2.5;
    text-align: center;
    font-size: 120%;
}
.overlayt img {
    display: block;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;

  }
  .overlayt {
    position: relative;
  }



  .usa h1 {
    position: absolute;
    top: -80px;
    left: 270px;
    font-size: 40px;
    text-decoration: underline;
  }

  .usa p{
    position: absolute;
    top: -10px;
    left: 270px;
    color: black;
    font-size: 25px;
} 

.p{
    border-bottom: solid 3px ;
    padding-bottom: 17px;

}


